algoliasearch-django>=2.0,<3.0
django>=4.2.27
djangorestframework
djangorestframework-simplejwt
pyyaml
requests
django-cors-headers
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability